{{#partial "content"}}
<link rel="stylesheet" href="/css/hero.css">
    <div class="container success text-center mt-5">
        <h1 class="text-light">LIST OF YOUR HEROES</h1>

        <div class="container">

            <div class="row">
                {{#if nam}}
                <div>
                <a href="/squad/form" class="btn btn-info">CREATE SQUAD</a>
                </div>
                {{#each nam}}
                <div class="col-md-4 d-flex justify-content-center">
            <div class="card bg-dark mb-4" style="width: 18rem;">
                <div class="card-body ">
                    <ul class="text-start text-light">
                        <li>Name: {{name}}</li>
                        <li>Age: {{age}}</li>
                        <li>power: {{specialPower}}</li>
                        <li>Weakness: {{weakness}}</li>
                    </ul>
                </div>
            </div>
            </div>
                {{/each}}
                {{ else}}
                <h3 class="text-light">You haven't created any heroes for now</h3>
                <p class="text-light"> <a href="/">Click here</a> to create your own </p>

                {{/if}}
          </div>

        </div>

    </div>

{{/partial}}

{{> layout.hbs}}